*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10/16 => 62.5%

  @include respond(tab-port) {
    font-size: 50%; // 8/16 => 50%
  }
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: getColor("white-color");
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: getColor("primary-color");
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(getColor("primary-color"), 0.8);
}
