// ABSTRACTS
@import "../../assets/sass/abstracts/functions";
@import "../../assets/sass/abstracts/mixins";
@import "../../assets/sass/abstracts/variables";

.user-stats {
  margin: 4rem 0;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.6rem;

    @include respond(tab-land) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond(phone) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 370px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__box {
    padding: 2rem 3rem;

    @media screen and (max-width: 370px) {
      @include flex-box(center, center, column);
    }
  }

  &__text {
    margin-top: 1.4rem;
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
    font-weight: getWeight("thick");
  }

  &__number {
    font-weight: getWeight("extra-thick") !important;
  }
}
